# ide
.idea
.vscode

# package manager
/node_modules
.pnpm-store
pnpm-debug.log*

# dependencies
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/r/

# misc
.DS_Store
*.pem
.turbo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
