:root {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 80.72);
  --foreground: oklch(0.3 0.04 30.2);
  --card: oklch(0.97 0.01 80.72);
  --card-foreground: oklch(0.3 0.04 30.2);
  --popover: oklch(0.97 0.01 80.72);
  --popover-foreground: oklch(0.3 0.04 30.2);
  --primary: oklch(0.4744 0.256 297.4098);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0.02 147.64);
  --secondary-foreground: oklch(0.43 0.12 144.31);
  --muted: oklch(0.94 0.01 74.42);
  --muted-foreground: oklch(0.45 0.05 39.21);
  --accent: oklch(0.9 0.05 146.04);
  --destructive: oklch(0.54 0.19 26.72);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.88 0.02 74.64);
  --input: oklch(0.88 0.02 74.64);
  --ring: oklch(0.708 0 0);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --surface: oklch(0.98 0 0);
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.96 0 0);
  --code-number: oklch(0.56 0 0);
  --selection: oklch(0.145 0 0);
  --selection-foreground: oklch(1 0 0);
}

.dark {
  --background: oklch(0.15 0.01 74.42);
  --foreground: oklch(0.95 0.02 80.72);
  --card: oklch(0.12 0.01 80.72);
  --card-foreground: oklch(0.95 0.02 80.72);
  --popover: oklch(0.12 0.01 80.72);
  --popover-foreground: oklch(0.95 0.02 80.72);
  --primary: oklch(0.58 0.15 144.17);
  --primary-foreground: oklch(0.09 0.01 80.72);
  --secondary: oklch(0.15 0.02 147.64);
  --secondary-foreground: oklch(0.65 0.12 144.31);
  --muted: oklch(0.18 0.01 74.42);
  --muted-foreground: oklch(0.65 0.03 74.42);
  --accent: oklch(0.22 0.04 146.04);
  --accent-foreground: oklch(0.65 0.12 144.31);
  --destructive: oklch(0.62 0.22 26.72);
  --destructive-foreground: oklch(0.95 0.02 80.72);
  --border: oklch(0.22 0.02 74.64);
  --input: oklch(0.22 0.02 74.64);
  --ring: oklch(0.58 0.15 144.17);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: oklch(0.15 0.01 74.42);
  --sidebar-foreground: oklch(0.95 0.02 80.72);
  --sidebar-primary: oklch(0.58 0.15 144.17);
  --sidebar-primary-foreground: oklch(0.09 0.01 80.72);
  --sidebar-accent: oklch(0.22 0.04 146.04);
  --sidebar-accent-foreground: oklch(0.65 0.12 144.31);
  --sidebar-border: oklch(0.22 0.02 74.64);
  --sidebar-ring: oklch(0.58 0.15 144.17);
  --surface: oklch(0.2 0 0);
  --surface-foreground: oklch(0.708 0 0);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.27 0 0);
  --code-number: oklch(0.72 0 0);
  --selection: oklch(0.922 0 0);
  --selection-foreground: oklch(0.205 0 0);
}
